h2{
    font-size: 3rem;
}

.navbar-toggler-icon{
    background-image: url("../img/menu.png")!important;
}

.navbar-effect{
    transition: all 1s;
    border-radius: 22px;
}

.navbar-effect:hover{
    background-color: rgba(177, 177, 177, 0.616);
    transition-property: opacity,transform;
    transition: all 1s;

}   

.scroll-down{
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scroll-min{
    background-color: transparent!important;
    transition: all 0.3s ease-in-out;
}

.scroll-up{
    background-color: #001E3C!important;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.filtro-imagem{
    filter: brightness(80%);
}

.carousel-item.active .filtro-imagem{
    transform: scale(1.1);
}

.tamanho-imagem{
    object-fit: cover;
    height: 100vh;
    transition: transform 10s;
}

.carousel-indicators{
    right: auto;
    justify-content: flex-start;
}

.carousel-indicators li{
    width: 150px;
    height: auto;
    text-indent: 0;
    background-color: transparent;
    border-top: 2px solid rgba(255, 255, 255, 0.678);
    
}

.carousel-indicators li.active{
    border-top: 2px solid red;
}

.carousel-caption{
    right: auto;
    bottom: 25%;
    left: 5%;
    text-align: start;
    width: 60%;
}

.btn-default{
    background-color: #DB0A40;
    color: white;
    font-weight: bold;
}

.botao-carousel{
    width: 12rem;
    height: 3rem;
}

.btn-default:hover{
    background-color: #F30B47;
    color: white;
}

.card, .card-img{
    border-radius: 20px;
    max-height: auto;
}

.card-img-overlay{
    top: auto;
}

.card-img-div{
    overflow: hidden;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.imagem-card{
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform .5s;
}

.content-card:hover .imagem-card{
    transform: scale(1.1);
}

.w-380px{
    width: 380px;
}

.bg-blue{
    background-color: #001E3C;
}

.br-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.effect{
    height: 101%;
    width: 101%;
    position: absolute;
    top: -.5%;
    left: -.5%;
    background-color: #001e3cc2;
    opacity: 0;
    transition: opacity .5s;
}

.social{
    position: absolute;
    top: 5%;
    left: 43%;
}

.w-30{
    width: 20%;
}

.social-logo{
    transform: translateX(100px);
    width: 100%;
    opacity: 0;
    transition: 0;
}

.profile-card:hover .transition-delay-0s{
    transition: all 1s 0s;
}
.profile-card:hover .transition-delay-05s{
    transition: all 1s .5s;
    
}
.profile-card:hover .transition-delay-1s{
    transition: all 1s 1s;
    
}

.profile-card:hover .effect{
    opacity: 100%;
}

.profile-card:hover .social-logo{
    opacity: 100%;
    transform: translateX(0);
}

@media (max-width: 576px) { 
    .carousel-caption h3 { font-size: 1.3em;}
    .carousel-caption p {font-size: 1.1em;}  

    .carousel-indicators li{
        width: 50px;
        text-indent: -999px;
    }
}